<nav class="navbar navbar-default">
  <div class="container-fluid">
       <div class="navbar-header">
          <a href="../" class="navbar-brand">My Weekly Menu Planner</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div *ngIf="isLoggedIn" class="navbar-collapse collapse" id="navbar-main" >
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Actions <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a [routerLink]="['/register']" style="cursor: pointer;">Add User</a></li>
                <li class="divider"></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
                    <img src="{{avatar}}" class="user-image" alt="User Image"> <span class="hidden-xs">{{userName}}</span>
								</a>
									<ul class="dropdown-menu">
										<!-- User image -->
										<li class="user-header">
                      <img src="{{avatar}}" class="img-circle" alt="User Image">
											<p>{{userName}}
											</p></li>
										<!-- Menu Footer-->
										<li class="user-footer">
											<div class="pull-right">
                          <a (click)="logout()" class="btn btn-default btn-sm" style="cursor: pointer;">Sign Out</a>
											</div>
										</li>
									</ul>
            </li>            
          </ul>
      </div>
   </div>
</nav>

<div class="app-content">
  <router-outlet></router-outlet>
</div>