<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">My Weekly Menu Planner</a>
    </div>
    
    <div *ngIf="isLoggedIn" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Actions <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a [routerLink]="['/register']" style="cursor: pointer;">Add User</a></li>
            <li class="divider"></li>
          </ul>
        </li>
      </ul>      
      <ul class="nav navbar-nav navbar-right">
        <li><a>{{afService.displayName }}</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="app-content">
  <router-outlet></router-outlet>
</div>