

<div class="panel panel-default form-horizontal">
  <div class="panel-heading">New Dayly Meal</div>
  <div class="panel-body">
      <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="type" class="col-lg-2 control-label">Date</label></div>
            <div class="ui-grid-col-8">
                <input type="date" [(ngModel)]="mealWeek.recDate" value="{{mealWeek.recDate| date: 'dd/MM/yyyy'}}"  class="form-control" id="date" placeholder="Date" required>
            </div>
      </div>
      <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="type" class="col-lg-2 control-label">Type</label></div>
            <div class="ui-grid-col-8">
              <select class="form-control" id="type" [(ngModel)]="type" (change)="onSelect($event.target.value)">
                <option value="1" selected>Breckfast</option>
                <option value="2">Lunch</option>
                <option value="3">Dinner</option>
              </select>
            </div>
      </div>
      <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="meal" class="col-lg-2 control-label">Meal</label></div>
            <div class="ui-grid-col-8">
              <select class="form-control" id="meal" [(ngModel)]="mealId" required (change)="onSelectMeal($event.target.value)">
                <option *ngFor="let item of meals" value="{{item.idRec}}">{{item.nameRec}}</option>
              </select>
            </div>
      </div>
      <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="type" class="col-lg-2 control-label">With</label></div>
            <div class="ui-grid-col-8">
              <input class="form-control" [(ngModel)]="mealWeek.recWith" type="text" id="complement" placeholder="Complement">
            </div>
      </div>
    <div class="ui-helper-clearfix" style="width:100%">
      <button type="button" class="btn btn-info" icon="fa-plus" style="float:right" (click)="saveMeal()" ><span class="glyphicon glyphicon-edit">&nbsp;</span>Save</button>
      <span>&nbsp;</span>
      <button [routerLink]="['/home']" class="btn btn-danger" style="float:right"><span class="glyphicon glyphicon-remove">&nbsp;</span>Cancel</button>
    </div>
    
  </div>
</div>